<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page d'accueil du projet</title>
    <link rel="stylesheet" href="/css/uikit.min.css" >
  </head>
  <body>
    <%- include('header'); %>
    <main class="uk-padding">
      <div class="uk-alert-primary" uk-alert>
      <p>
        Votre commande a bien été reçue. Nous vous contacterons sous peu.</p>
    </div>
    </main>
    <%- include('footer'); %>
  </body>
</html>
